
<h2>List of your Places</h2>

<% @places.each do |p| %>
<p>name: <%= p.name %></p>
<p> description: <%= p.description %>
<p>location: <%= p.location %></p>
<p>duration: <%= p.duration %></p>
__________________________________________
<% end%>